@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "./layout/sidebar";
@import "./layout/container";

.text-left{
	text-align: left !important; 
}

.border-bottom-green{
	border-bottom: 1px solid $secondary;
}
.btn-transparent{
	background-color: transparent;
	border-color: transparent;	
}